# Secrets
.env

# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Generated data
data/snapshots/
data/logs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
database/
snapshots/



# cd /Users/aryannegi/Desktop/satellite_ai/surveillance-ai
# source venv/bin/activate
# pip install -r requirement.txt
# python3 src/main.py
.env
